body {
    background-color: #f8f8f8; /* Subtle background color - keep this as a fallback */
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    padding: 20px;
}

header { 
    background-color: #fff; /* White header */
    padding: 10px 0; 
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav li {
    display: inline-block;
    margin: 0 10px; 
}

.content-section {
    border: 1px solid #ddd; 
    padding: 20px;
    margin-bottom: 5px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

.footer-container {
    background-color: purple; 
    width: 100%;    
    margin: 15px auto;  
    padding: 10px; 
    border-radius: 5px; 
}

/* Optional: CSS Animations for Background */
@keyframes gradientAnimation { 
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; } 
} 

body.gradient-bg {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes twinkle {
    50% { opacity: 0.3; }
}

body.stars-bg {
    background: #000;
    overflow: hidden;
}

body.stars-bg::before, body.stars-bg::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: radial-gradient(circle, 1px, white, transparent);
    animation: twinkle 5s linear infinite; 
}

body.stars-bg::after {
    animation-delay: 2.5s; 
} 
